// Custom styles for the user to add to wordpress mce

// Uses link styles, so make sure imported in main scss

.user-blue-slanted-link {
	@extend .blue_slanted_link;
}

.user-orange-slanted-link {
	@extend .orange_slanted_link;
}

.user-blue-slanted-header {
	@extend .blue_slanted_header;
}

.user-orange-slanted-header {
	@extend .orange_slanted_header;
}

.user-square-blue {
	@extend .square_link;
	
	* {
		padding: 0;
		margin: 0;
	}
}

.user-blue-paragraph {
	@include rem-fallback(margin, 1, 0);
	@include rem-fallback(padding, 1, 0);
	color: $primary;
	float: left;
	width: columns(12);
	background-color: #fff;
	
	p {
		@include font-size(1.3);
		@include rem-fallback(line-height, 1.8);
		@include rem-fallback(margin, 0, 0, 1, 0);
		padding: 0;
		width: columns(12);
	}
}

.user-hr {
	@include rem-fallback(margin, 1, 0);
	padding: 0;
	display: block;
	clear: both;
	height: 1px;
	border: 0;
	border-top: 1px solid $mid;
}

.user-blue-box {
	@include rem-fallback(margin, 0);
	@include rem-fallback(padding, 1);
	width: columns(12);
	float: left;
	background-color: $primary;
	color: #fff;
	
	* {
		color: ¢fff;
	}
	
}


.user-right-block,
.user-left-block
	{
		width: 48%;
		float: right;
		margin: 1%;
		margin-right: 0;
	}

.user-left-block {
	float: left;
	margin-right: 1%;
	margin-left: 0;
}